/*todo: some background picture*/
body, html {
  height: 100%;
  margin: 0;
}

.bg {
    position: relative;
    min-height: 100vh;
    background-color: currentColor;
    min-height: 100%;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align:right;
  height: 4rem;
}