{% extends 'base/base-with-header.html' %}

{% block title %} Moje tekme {% endblock %}

{% block content %}
    <div class="container">
        {% if profile.is_admin %}
            <div class="d-flex justify-content-start row">
                <a class="col btn btn-light ml-3 mr-3" href="{% url 'sunday_league:upload_results' %}">Uvozi rezultate / razpored</a>
                <a class="col btn btn-light ml-3 mr-3" href="{% url 'sunday_league:modify_last_information' %}">Uredi obvestilo</a>
                <a class="col btn btn-light ml-3 mr-3" href="{% url 'sunday_league:players' %}">Uredi strelce</a>
            </div>
            <hr class="bg-light"/>
        {% endif %}
        {% for league, rounds_list in rounds.items %}
            <b class="text-white">Liga {{ league }}</b>
            {% for round in rounds_list %}
                {% if forloop.counter0|divisibleby:3 %}
                    <div class="row">
                {% endif %}
                <div class="col">
                    <a class="nounderline text-dark" href="{% url 'sunday_league:matches_by_round' round_id=round.id %}">
                        <div class="shadow p-2 bg-light rounded h-100 {% if  completed_rounds|get_item:round %}completed-round{% endif %}">
                            <b>LIGA: {{ round.league_number }}</b> <br/>
                            <i><b>Krog. {{ round.round_number }}</b></i>: {{ round.place }} <br/>
                            Domačin: {{ round.home_team }}
                        </div>
                    </a>
                </div>
                {% if forloop.counter0|add:1|divisibleby:3 %}
                    </div>
                    <br/>
                {% endif %}
            {% endfor %}
            {# Add empty columns if needed #}
            {# TODO: fix with css #}
            {% if not rounds_list|length|add:1|divisibleby:3 %}
                <div class="col"></div>
                <div class="col"></div>
                </div>
            {% elif not rounds_list|length|divisibleby:3 %}
                <div class="col"></div>
                </div>
            {% else %}
                </div>
            {% endif %}
            {% if forloop.counter0|add:1 < rounds|length %}
                <hr class="bg-light"/>
            {% endif %}
        {% endfor %}
    <br/>
    </div>
{% endblock %}
