{% extends 'base.html' %}

{% block title %} Obvestila {% endblock %}

{% block navigation_buttons %}
{% endblock %}

{% block content %}
    <div>
        <a href="fixtures/{{ selected_league }}/" role="button" class="btn btn-secondary btn-lg">Rezultati</a>
        <a href="standing/{{ selected_league }}/" role="button" class="btn btn-secondary btn-lg">Lestvica</a>
        <a href="scorers/{{ selected_league }}/" role="button" class="btn btn-secondary btn-lg">Top strelci</a>
        <a href="information/{{ selected_league }}/" role="button" class="btn btn-light btn-lg">Obvestila</a>
    </div>
    <div class="shadow p-2 shadow bg-light rounded">
        <h3>Obvestila:</h3>
        <p class="p-3" style="white-space: pre-wrap;">{{ last_information }}</p>
    </div>
{% endblock %}
