{% extends 'base/base-with-header.html' %}

{% block title %} Moje tekme {% endblock %}

{% block content %}
    {# TODO: responsive (w-75 for desktop, w-100 for mobile) #}
    <div class="d-flex flex-column w-100">
        <div class="shadow rounded p-3 bg-light">
            <h5><b>LIGA: {{ selected_round.league_number }}</b> <br/>
                <i><b>Krog. {{ selected_round.round_number }}</b></i>: {{ selected_round.place }} <br/>
                Domačin: {{ selected_round.home_team }}</h5>
            <hr/>

            {% for form in forms %}
                <form id="match-{{ form.instance.id }}" class="d-flex match-form" method="post">
                    {% csrf_token %}
                    <div class="row pl-2 w-100">
                        <input type="hidden" name="match_id" value="{{ form.instance.id }}">
                        <label class="col form-label" for="id_first_team_score">{{ form.instance.first_team }}</label>
                        {{ form.first_team_score }}
                        <label class="col form-label" for="id_second_team_score">{{ form.instance.second_team }}</label>
                        {{ form.second_team_score }}
                        <button class="btn btn-sm btn-dark ml-5 col-auto" type="submit" value="Shrani">Shrani</button>
                    </div>
                </form>
                <hr/>
            {% endfor %}
            <a class="text-dark nounderline p-2" href="{% url 'sunday_league:matches' %}"><b>Nazaj</b></a>
        </div>
        {#        <div class="text-light">#}
        {#            {% for m in matches %}#}
        {#                {{ m }}#}
        {#                <br/>#}
        {#            {% endfor %}#}
        {#        </div>#}
    </div>
{% endblock %}
