{% extends 'base.html' %}

{% block title %} Lestvica {% endblock %}

{% block navigation_buttons %}
    <div class="list-group">
        <button type="button" class="btn btn-light btn-lg" disabled>
            Lige:
        </button>
        <a href="standing/1/" role="button" class="btn btn-secondary btn-lg">Liga 1</a>
        <a href="standing/2/" role="button" class="btn btn-secondary btn-lg">Liga 2</a>
        <a href="standing/3/" role="button" class="btn btn-secondary btn-lg">Liga 3</a>
        <a href="standing/4/" role="button" class="btn btn-secondary btn-lg">Liga 4</a>
    </div>
{% endblock %}

{% block content %}
    <div>
        <a href="fixtures/{{ selected_league }}/" role="button" class="btn btn-secondary btn-lg">Rezultati</a>
        <a href="standing/{{ selected_league }}/" role="button" class="btn btn-light btn-lg">Lestvica</a>
        <a href="scorers/{{ selected_league }}/" role="button" class="btn btn-secondary btn-lg">Top strelci</a>
    </div>
    <div class="shadow p-2 shadow bg-light rounded">
        <h3>Lestvica: Liga {{ selected_league }}</h3>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Ekipa</th>
                <th class="text-center" scope="col">GP</th>
                <th class="text-center" scope="col">w</th>
                <th class="text-center" scope="col">D</th>
                <th class="text-center" scope="col">L</th>
                <th class="text-center" scope="col">GD</th>
                <th class="text-center" scope="col">PTS</th>
            </tr>
            </thead>
            <tbody>
            {% for row in table_rows %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a style="color: black;"
                           href="fixtures/{{ selected_league }}/?round=all&team_id={{ row.team.id }}">{{ row.team }}</a>
                    </td>
                    <td>{{ row.match_played }}</td>
                    <td>{{ row.wins }}</td>
                    <td>{{ row.draws }}</td>
                    <td>{{ row.losses }}</td>
                    <td>{{ row.goals_for }} : {{ row.goals_against }}</td>
                    {% if row.penalty_points < 0 %}
                        <td>{{ row.points }} ({{ row.penalty_points }})</td>
                    {% else %}
                        <td>{{ row.points }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    </br>
    {% if top_scorers|length > 0 %}
        <div class="shadow p-2 shadow bg-light rounded">
            <h3>Najbolši strelci:</h3>
            <table class="table table-sm">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Igralec</th>
                    <th scope="col">Ekipa</th>
                    <th class="text-center" scope="col">G</th>
                </tr>
                </thead>
                <tbody>
                {% for player in top_scorers %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ player.first_name }} {{ player.family_name }}</td>
                        <td>{{ player.team }}</td>
                        <td>{{ player.goals }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}