/*todo: some background picture*/
body, html {
  height: 100%;
  margin: 0;
}

.bg {
    position: relative;
    min-height: 100vh;
    background-color: currentColor;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align:right;
    height: 4rem;
}

.login-form input {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 5px;
}

.completed-round{
    opacity: 0.6;
}

.match-form input {
    width: 4rem;
    padding-left: 5px;
}

.match-form label {
    padding-top: 3px;
}

.errorlist {
    color: darkred;
}

.nounderline {
    text-decoration: none !important
}

#contentDiv {
    min-width: 66%;
}

@media only screen and (max-width: 1024px) {
    #standingDiv {
        display: none;
    }

    #scorersDiv {
        display: none;
    }

    #contentDiv {
        min-width: 75%
    }
}